@using TwoStu.Logic.Entities
@using HtmlExtensions.Renderers
@using Extensions.String
@model IEnumerable<SubjectSection>

@{
    ViewBag.Title = "Index";
    GlyphiconRenderer GISigns = new GlyphiconRenderer();
}

<h2>Список уточнений по разделам предметов</h2>

<p>
    <strong>
        @Html.ActionLink("[Создать новое уточнение к разделу предмета]", "Create")
    </strong>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Название раздела предмета
        </th>
        <th>
            Его уточнения
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (SubjectSection subjectSection in Model) {
    <tr>
        <td>
           <strong>@subjectSection.Name @GISigns.Count(subjectSection.TaskSolutions.Count).ToHtml()</strong> 
        </td>
        <td>
            @*Таблица с уточнениями по разделу предмета*@
            <table class="table table-striped table-bordered">
                @if (subjectSection.Id == Model.FirstOrDefault().Id)
                {
                    <tr>
                        <th>
                            Название уточнения
                        </th>
                        <th>
                            Действия
                        </th>
                    </tr>
                }
                
                @if (subjectSection.SubjectDivisions.Count > 0)
                {
                    foreach (SubjectDivision division in subjectSection.SubjectDivisions)
                    {
                        <tr>
                            <td>
                                <strong>@division.Name @GISigns.Count(division.GetCountOfTaskSolutions()).ToHtml()</strong>
                            </td>
                            <td>
                                <p>
                                    <strong>
                                        <a href="/SubjectDivisions/Details/@division.Id">[Подробнее]</a>
                                    </strong>
                                </p>
                                
                                <p>
                                    <strong>
                                        <a href="/SubjectDivisions/Edit/@division.Id">[Редактировать]</a>
                                    </strong>
                                </p>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2" class="text-center text-danger">
                            <strong>Уточнений по данному предмету нет!</strong>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="2" class="text-center">
                        <a href="/SubjectDivisions/Create?toSubjectSectionId=@subjectSection.Id"><strong>[Создать уточнение к разделу @subjectSection.Name]</strong></a>
                    </td>
                </tr>

            </table>
        </td>
        <td>
            <p>
                <strong>
                    <a href="/SubjectSections/Details/@subjectSection.Id">[Подробнее о разделе]</a>
                </strong>
            </p>

            <p>
                <strong>
                    <a href="/SubjectSections/Edit/@subjectSection.Id">[Редактировать раздел]</a>
                </strong>
            </p> 
        </td>
    </tr>
}

</table>

<hr/>
<div>
    <strong>
        @Html.ActionLink("[К списку разделов]", "Index", "SubjectSections") |
        @Html.ActionLink("[К списку предметов]", "Index", "Subjects")
    </strong>
    
</div>