@using HtmlExtensions.Renderers
@using Extensions.String
@model IEnumerable<TwoStu.Logic.Entities.TaskSolution>

@{
    ViewBag.Title = "Index";
    GlyphiconRenderer GISigns = new GlyphiconRenderer();
}

<h2>Список загруженных решений @GISigns.Count(Model.Count()).ToHtml()</h2>

<p>
    @Html.ActionLink("Создать новое", "Create") |
    @Html.ActionLink("Создать новое по физике", "CreatePhysics")
</p>
<table class="table table-striped">
    <tr>
        
        <th>
            Условие
        </th>
        <th>
            Предмет
        </th>
        <th>
            Раздел предмета
        </th>
        <th>
            Атрибуты
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            <strong>@item.TaskDesc</strong>
        </td>
        <td>
            <strong>@item.TaskSubject.Name</strong>
        </td>
        <td>
            <strong>@item.TaskSubjectSection.Name</strong>
        </td>
        <td>
            <table class="table table-striped">
                
                @foreach (var child in item.SubjectDivisionChilds)
                {
                    <tr>
                        <th>
                            @child.SubjectDivisionParent.Name : @child.Name
                        </th>
                    </tr>
                }
            </table>
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Детали", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
