@using TwoStu.Logic.Entities
@model TwoStu.Logic.Entities.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о предмете</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            <h3>Разделы предмета</h3>
            @if (Model.SubjectSections.Count > 0)
            {
                foreach (SubjectSection subjectSection in Model.SubjectSections)
                {
                    <p>@subjectSection.Name <a href="@Url.Action("Details", "SubjectSections", new { id = subjectSection.Id })">[Подробнее]</a></p>
                }
            }
            else
            {
                <p>по данному предмету нет разделов</p>
            }
            @Html.ActionLink("Создать раздел", "Create", "SubjectSections")

        </dd>

    </dl>
</div>

<hr/>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку предметов", "Index")
</p>
