@using TwoStu.Logic.Entities
@model TwoStu.Logic.Entities.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее о предмете</h2>

<div>
    <h3>Предмет <strong>@Model.Name</strong></h3>
    <hr />
    <h3>Разделы предмета</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Название раздела</th>
            <th>Действия</th>
        </tr>
        @if (Model.SubjectSections.Count > 0)
        {
            foreach (SubjectSection subjectSection in Model.SubjectSections)
            {
                <tr>
                    <th>
                        @subjectSection.Name
                    </th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th>
                            <p>
                                <a href="/SubjectSections/Details/@subjectSection.Id">[Подробнее]</a>
                            </p>
                            
                            <p>
                                <a href="/SubjectSections/Edit/@subjectSection.Id">[Редактировать]</a>
                            </p>

                            <p>
                                <a href="/SubjectSections/Delete/@subjectSection.Id">[Удалить]</a>
                            </p>
                            
                        </th>
                    }
                    else
                    {
                        <th>
                            <a href="/SubjectSections/Details/@subjectSection.Id">[Подробнее]</a>
                        </th>
                    }
                    
                </tr>
            }
        }
        else
        {
            <tr>
                <th colspan="2" class="text-center text-danger">
                    <strong>
                        Не найдено ни одного раздела по предмету @Model.Name
                    </strong>
                </th>
            </tr>
        }
        <tr>
            <th colspan="2" class="text-center text-danger">
                <strong>
                    <a href="/SubjectSections/Create?toSubjectId=@Model.Id">[Создать новый раздел для предмета @Model.Name]</a>
                </strong>
            </th>
        </tr>
    </table>
</div>

<hr/>
<div>
    <strong>
        @Html.ActionLink("[Редактировать]", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("[К списку предметов]", "Index")
        @Html.ActionLink("[К списку разделов по предметам]", "Index", "SubjectSections") |
        @Html.ActionLink("[К списку уточнений по разделам]", "Index", "SubjectDivisions") |
    </strong>
</div>

