@using TwoStu.Logic.Models
@using HtmlExtensions.Renderers
@using Extensions.String
@model IEnumerable<TwoStu.Logic.Entities.Subject>

@{
    ViewBag.Title = "Предметы";

    GlyphiconRenderer GISigns = new GlyphiconRenderer();

    List<int> SubjectIds = User.Identity.GetSubjectIds().ToList();
}

@AlertHelper.GetAlert("Подсказка", "Число справа от названия предмета означает колличество решений по данному предмету имеющихся в системе")


<h2>Список Предметов</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <strong>
            @Html.ActionLink("[Создать новый]", "Create")
        </strong>
    </p>
}

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Название предмета
        </th>
        <th>
            Действия
        </th>
    </tr>

@foreach (var item in Model)
{

    if (SubjectIds.Contains(item.Id))
    {
        <tr>
            <td>
                <strong>
                    @item.Name <span class="badge" data-toggle="tooltip" title="По данному предмету в системе столько решений">@item.TaskSolutions.Count</span>
                </strong>
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    <strong>
                        @Html.ActionLink("[Редактировать]", "Edit", new { id = item.Id }) |

                        @Html.ActionLink("[Детали]", "Details", new { id = item.Id }) |

                        @Html.ActionLink("[Удалить]", "Delete", new { id = item.Id })
                    </strong>
                </td>
            }
            else
            {
                <td>
                    <strong>
                        @Html.ActionLink("[Детали]", "Details", new { id = item.Id })
                    </strong>
                </td>
            }

        </tr>
    }

}

</table>

<hr />

<div>
    <strong>
        @Html.ActionLink("[К списку разделов по предметам]", "Index", "SubjectSections") |
        @Html.ActionLink("[К списку уточнений по разделам]", "Index", "SubjectDivisions")
    </strong>
</div>
