@using TwoStu.Logic.Entities
@using HtmlExtensions.Renderers
@using Extensions.String
@model SubjectSection

@{
    ViewBag.Title = "Delete";
    GlyphiconRenderer GISigns = new GlyphiconRenderer();
}

<h2>Удаление раздела <strong>@Model.Name</strong> по предмету <strong>@Model.FromSubject.Name</strong></h2>

<h3 class="text-info">
    Внимание удаление данного раздела приведет
    к рекурсивному удалению всех <strong>уточнений к данному разделу и их вариантов уточнения</strong> и <strong>решений</strong> связанных с этим разделом.
    Пожалуйста, проверьте <strong>данные</strong> которые будут удалены.
</h3>
<div>
    
    <hr />
    <h4>Уточнения по разделу</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Название уточнения
            </th>
            <th>
                Варианты уточнения
            </th>
        </tr>
        @foreach(SubjectDivision division in Model.SubjectDivisions)
        {
            <tr>
                <td>
                    @division.Name
                </td>
                <td>
                    <table class="table table-bordered table-striped">
                        @foreach(SubjectDivisionChild child in division.SubjectDivisionChilds)
                        {
                            <tr>
                                <td>
                                    @child.Name @GISigns.Count(child.TaskSolutions.Count).ToHtml()
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить раздел и все решения" class="btn btn-default" /> |
            @Html.ActionLink("К списку разделов", "Index")
        </div>
    }
</div>
